.item {
	min-height: 310px;
	width: 342px;
	&__img {
		height: 200px;
		width: 100%;
		object-fit: cover;
	}
	&__desc {
		margin-top: 26px;
		color: #4a4a4a;
		text-align: center;
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
	}
}
