.promo {
	min-height: 800px;
	padding: 38px 0 61px 0;
	background: url('../../assets/img/bg/main_bg.png') center center / cover
		no-repeat;

	&__logo {
		&-icon {
			display: block;
			margin: 0 auto;
		}
		&-text {
			display: block;
			margin: 0 auto;
			color: #fff;
			font-size: 15px;
			line-height: 24px;
			font-weight: 500;
			text-transform: uppercase;
			text-align: center;
			margin-top: 10px;
		}
	}

	h1.title {
		margin-top: 53px;
	}

	h2.title {
		margin-top: 20px;
	}

	&__simple {
		display: flex;
		justify-content: center;
	}

	&__text {
		margin-top: 22px;
		color: #fff;
		font-size: 21px;
		font-weight: 300;
		line-height: 28px;
		text-align: center;
		span {
			color: $main-color;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
	&__more {
		margin-top: 72px;
		&-text {
			color: rgba($color: #fff, $alpha: 0.5);
			font-size: 15px;
			font-weight: 100;
			line-height: 24px;
			text-transform: uppercase;
			text-align: center;
		}
		&-img {
			display: block;
			margin: 0 auto;
			margin-top: 12px;
		}
	}
}
