.title {
	color: $main-color;
	font-size: 41px;
	font-weight: 900;
	line-height: 41px;
	text-transform: uppercase;
	text-align: center;

	&_fz80 {
		color: #fff;
		font-size: 80px;
		font-weight: 900;
		line-height: 80px;
	}

	&_fz30dark {
		color: #252525;
		font-size: 30px;
		font-weight: 400;
		line-height: 30px;
	}

	&_fz30 {
		color: #299cbd;
		font-size: 30px;
		font-weight: 900;
		line-height: 30px;
		text-transform: uppercase;
	}

	&_fz23 {
		color: #4a4a4a;
		font-size: 23px;
		font-weight: 400;
		line-height: 20px;
	}

	&_lines {
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 292px;
			height: 2px;
			background: #fff;
			position: absolute;
			z-index: 1;
			left: -310px;
			top: 50%;
		}
		&:after {
			content: '';
			display: block;
			width: 292px;
			height: 2px;
			background: #fff;
			position: absolute;
			z-index: 1;
			right: -310px;
			top: 50%;
		}
	}
}
